[run]
branch = True
source = osis_notification/osis_notification
omit =
    */migrations/*
    */tests/*
    */management/*
    */admin.py
    */tasks/*

[report]
skip_covered = True
show_missing = True
sort = Miss
